* {
    color:white;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color:#1F2937;
}

#header {
    background-color:#1F2937;
    height:2.5%;
    width:80%;
    margin-left:10%;
    margin-top:0px;
    margin-bottom:0px;
    border:0px;
}

#header-elements {
    display:flex;
}

#header-logo {
    color:#F9FAF8;
    font-size:24px;
    margin-right:30%;
}

#header-link-container {
    width:30%;
}

.header-link {
    color:white;
}

